
/**************************************
*
* NAVIGATION
*
***************************************/

.nav-container {
    background-color: rgba(243, 214, 51, 0);
    box-shadow: 0px .5px 10px black;
}

.nav-container a {
    color: lightgrey;
    font-family: 'Quicksand', sans-serif;
}

.nav-container a:hover, .nav-container img:hover {
    color: white;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

/**************************************
*
* HOME
*
***************************************/

.jumbotron-header {
    height: 100vh;
    position: relative;
    background: url('../img/background.jpg');
    background-size: cover;
}

.header-container {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.header-container h1 {
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/**************************************
*
* ABOUT
*
***************************************/

.jumbotron-about {
    height: 100vh;
}