/**************************************
*
* NAVIGATION
*
***************************************/
.nav-container {
  background-color: rgba(243, 214, 51, 0);
  box-shadow: 0px .5px 10px black;
}

.nav-container a {
  color: lightgrey;
  font-family: 'Quicksand', sans-serif;
}

.nav-container a:hover, .nav-container img:hover {
  color: white;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

/**************************************
*
* HOME
*
***************************************/
.jumbotron-header {
  height: 100vh;
  position: relative;
  background: url("../img/background.jpg");
  background-size: cover;
}

.jumbotron-header div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.jumbotron-header div h1 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/**************************************
*
* ABOUT
*
***************************************/
.jumbotron-about {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.747)), url("../img/about.jpg");
  background-size: cover;
  position: relative;
}

.jumbotron-about div {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.jumbotron-about div h1 {
  background: linear-gradient(rgba(2, 125, 163, 0.8), rgba(255, 82, 241, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbotron-about div p {
  padding-top: 20px;
  color: rgba(245, 245, 245, 0.63);
}

/**************************************
*
* WORK
*
***************************************/
.work-container div {
  height: 20vh;
  width: 100%;
  border: 2px solid black;
}

.work-container .workOne {
  background: linear-gradient(to right, rgba(2, 125, 163, 0.8), rgba(255, 82, 241, 0.8)), url("../img/glasslands.png");
  background-size: cover;
}

.work-container .workTwo {
  background: linear-gradient(to left, rgba(2, 125, 163, 0.8), rgba(255, 82, 241, 0.8)), url("../img/joshkincheloe.png");
  background-size: cover;
}

.work-container .workThree {
  background: linear-gradient(to right, rgba(2, 125, 163, 0.8), rgba(255, 82, 241, 0.8)), url("../img/glassarrow.png");
  background-size: cover;
}

.contact-container {
  height: 40vh;
  background-color: mediumaquamarine;
}

.contact-container img {
  width: 100%;
}
