/**************************************
*
* NAVIGATION
*
***************************************/
.nav-container {
  background-color: rgba(243, 214, 51, 0);
  box-shadow: 0px .5px 10px black;
}

.nav-container a {
  color: lightgrey;
  font-family: 'Quicksand', sans-serif;
}

.nav-container a:hover, .nav-container img:hover {
  color: white;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

/**************************************
*
* HOME
*
***************************************/
.jumbotron-header {
  height: 100vh;
  position: relative;
  background: url("../img/background.jpg");
  background-size: cover;
}

.jumbotron-header div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.jumbotron-header div h1 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/**************************************
*
* ABOUT
*
***************************************/
.jumbotron-about {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.747)), url("../img/about.jpg");
  background-size: cover;
  position: relative;
}

.jumbotron-about div {
  width: 85%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.jumbotron-about div h1 {
  background: linear-gradient(rgba(2, 125, 163, 0.8), rgba(255, 82, 241, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbotron-about div p {
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

/**************************************
*
* WORK
*
***************************************/
.work-container {
  min-height: 100vh;
  background: whitesmoke;
  position: relative;
}

.work-container .work-row {
  width: 100%;
}

.work-container .work-row .work-images img {
  border-bottom: 1px solid black;
  width: 100%;
  position: relative;
}

.work-container .work-row .work-images .work-item {
  background: whitesmoke;
  position: relative;
  border-bottom: 1px solid black;
}

.work-container .work-row .work-images .work-item p {
  background: linear-gradient(rgba(2, 125, 163, 0.8), rgba(255, 82, 241, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 85%;
  font-family: 'Quicksand', 'sans-serif';
  font-size: .75em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.work-container .work-row .work-images .work-item .JK-work {
  text-align: right;
}

.work-container .work-row .work-images .work-item:hover .overlay {
  opacity: 1;
}

.work-container .work-row .work-images .work-item:hover img {
  animation: none;
  filter: grayscale(0);
  opacity: 1;
  transition: .5s ease;
}

.work-container .work-footer {
  background: linear-gradient(rgba(2, 125, 163, 0.8), rgba(255, 82, 241, 0.8)), url("../img/nashville.jpg");
  background-size: cover;
  width: 100%;
  position: relative;
  padding-top: 25px;
  min-height: 35vh;
  text-align: center;
}

.work-container .work-footer .footer-container {
  position: absolute;
  width: 100%;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.work-container .work-footer .footer-container h1 {
  font-size: 1.5em;
  font-family: 'Open Sans';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.9);
}

.work-container .work-footer .footer-container a {
  color: white;
}

.work-container .work-footer .footer-container a:hover {
  color: gainsboro;
}

@media (min-width: 768px) {
  .jumbotron-about div {
    width: 65%;
  }
  .work-container .work-row {
    width: 85%;
    margin: 0 auto;
  }
  .work-container .work-row .work-images img, .work-container .work-row .work-images .work-item {
    border-bottom: none;
  }
  .work-container .work-row .work-images .work-item p {
    font-size: 1em;
  }
  .work-container .work-footer {
    height: 50vh;
  }
  .work-container .work-footer .footer-container {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .jumbotron-about div {
    width: 55%;
  }
  .work-container .work-row {
    width: 75%;
  }
}
